@{
    ViewData["Title"] = "Personal";
}

<h1>Pagina Personal</h1>
@model Personal

<img  src="https://i.ibb.co/mGVjscd/20210922-154741.jpg" style="width: 300px; height: 400px;" class="rounded mx-auto d-block " alt="20210922-154741">
@Html.LabelFor(c=>c.name, "Nombre: ") @Model.name <br>
@Html.LabelFor(m=>m.lastname, "Apellido: ") @Model.lastname <br>
@Html.LabelFor(m=>m.age, "Edad: ") @Model.age <br>
@Html.LabelFor(m=>m.email, "Email: ") @Model.email <br>
@Html.LabelFor(m=>m.direccion, "Direccion: ") @Model.direccion <br> 
